* {
  margin: 0;
  padding: 0;
  @include box-sizing;
}

body {
  background: $color-body;
  font-family: $main-font;
  font-size: $base-font;
  line-height: $line-height * 1.7;

  @media (max-width: $small) {
    line-height: $line-height * 1.3;
  }

  @media (min-width: $small) and (max-width: $medium) {
    line-height: $line-height * 1.3;
  }

  @include selection;
}

.head-wrap {
  background: lighten($color-body, 3%);
}

.main-nav {
  margin: 0 auto;
  max-width: 600px;
  width: 90%;
  height: 100px;
  z-index: 1;
  padding: 0 20px;

  h1,
  h3 {
    display: inline-block;
    vertical-align: middle;
    padding: 29px 0;
    @media (max-width: $small) {
      width: 100%;
      padding: 0!important;
    }

    @media (min-width: $small) and (max-width: $medium) {
      width: 100%;
      padding: 0!important;
    }
  }

  h1 {
    width: 29%;
    color: #fff;
    @media (max-width: $small) {
      padding-top: 25px!important;
    }

    @media (min-width: $small) and (max-width: $medium) {
      padding-top: 25px!important;
    }
  }

  h3 {
    font-family: $sans-font;
    font-size: .7rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 35px;
    font-weight: 600;
    color: lighten($color-body, 40%);
    @media (max-width: $small) {
      margin-top: 0px;
    }

    @media (min-width: $small) and (max-width: $medium) {
      margin-top: 0;
    }
  }
}

.main-wrapper {
  max-width: 600px;
  margin: auto;
  margin-top: 30px;

  .post {
    display: block;
    padding: 40px 20px;
    border-bottom: 2px dashed darken($color-body, 3%);

    &:nth-child(even) {
      background: darken($color-body, 1%);
    }

    @media (max-width: $small) {
      padding: 20px;
    }

    @media (min-width: $small) and (max-width: $medium) {
      padding: 20px;
    }

    a {
      position: relative;
      color: lighten($color-body, 60%);
      text-decoration: none;
      font-size: 1.6rem;
      @include transition;

      @media (max-width: $small) {
        font-size: 1.5rem;
      }

      @media (min-width: $small) and (max-width: $medium) {
        font-size: 1.5rem;
      }

      &:hover {
        color: $color-accent;
        @include transition;
      }

      &:visited {
        color: lighten($color-body, 30%);
      }
    }
  }

  .date {
    display: block;
    font-family: $sans-font;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $color-date;
  }

  .toTop {
    position: fixed;
    z-index: 2;
    top: -100px;
    right: 50px;
    background: darken($color-body, 3%);
    padding: 10px 20px;
    color: $color-light;
    font-size: 1.4rem;
    cursor: pointer;
    @include transition;

    &:hover {
      background: $color-accent;
      @include transition;
    }
    @media (max-width: $small) {
      right: 0;
      line-height: $line-height * 2;
    }

    @media (min-width: $small) and (max-width: $medium) {
      right: 0;
      line-height: $line-height * 2;
    }
  }
}

.main-footer {
  max-width: 600px;
  width: 90%;
  margin: 0px auto;
  margin-bottom: 50px;
  font-size: .6rem;
  @media (max-width: $small) {
    margin-bottom: 0px;
  }

  @media (min-width: $small) and (max-width: $medium) {
    margin-bottom: 0px;
  }
  padding: 50px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: $color-light;
  font-family: $sans-font;

  .social-area {
    font-size: 1.5rem;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;

    a {
      margin: 10px;
      @include transition;

      &:after {
        height: 0;
      }

      &:hover {
        color: $color-accent;
        @include transition;
      }
    }
  }

  a {
    position: relative;
    color: $color-light;
    text-decoration: none;

    &:after {
      position: absolute;
      bottom: -5px;
      left: -5px;
      right: 0;
      margin: auto;
      width: 99%;
      height: 2px;
      background: darken($color-accent, 10%);
      content: "";
    }

  }
}