// Color
$color-dark:   #000000;
$color-light:  #FFFFFF;
$color-accent: #5BC5BF;
$color-body:   #2C3845;
$color-date:   #6F869E;

// Typography
$main-font:    "Droid Serif";
$sans-font:    "Source Sans Pro";
$base-font:    14px;
$line-height:  1.5em;

// Media Queries
$small:        30em;
$medium:       50em;
$large:        70em;


// Misc
$prefixes: ("-moz-", "");